thesis/thesis.aux
thesis/thesis.fdb_latexmk
thesis/thesis.fls
thesis/thesis.log
thesis/thesis.out
thesis/thesis.synctex.gz
thesis/thesis.toc
thesis/thesis.xmpdata
thesis/thesis.bbl
thesis/thesis.blg

code/env
code/.ipynb_checkpoints
